.carte{
    height: auto;
    width: 30%;
    max-width: 1000px;
    min-width: 500px;
    box-shadow: 0 0 15px red;
}

.carte img{
    width: 100%;
    height: auto;
}

.carte h1 {
padding: 10px;
}

.carte p{
    padding: 10px;
}

html{
    font-size: 10px;
}

